.app {
  margin: 50px 190px 50px 90px;
  p {
    opacity: .7;
    margin-bottom: 25px;
  }
}

.MuiCardHeader-title {
  color: rgb(75, 40, 109);
}

.MuiCardHeader-content > span {
  font-size: 34px;
  padding: 8px;
  font-weight: 200;
}

.MuiCardContent-root {
  font-size: 18px;
  opacity: .7;
  padding: 8px;
}

.MuiCardHeader-root {
  background-color: rgb(244, 244, 247);
}

.MuiButtonBase-root {
  color: rgb(43, 128, 0);
}
.btn {
  background-color: rgb(43, 128, 0) !important;
  border-radius: 45px !important;
  font-weight: 500;
}

.textField {
  margin-top: 3rem;
  margin-bottom: 4rem;
  h4 {
    margin: 0px;
    line-height: 24px;
  }
  p {
    margin: 0px;
    line-height: 30px;
    opacity: .7;
  }
}

.radioFields {
  margin-bottom: 15px;
  h4 {
    margin: 0px 0px 10px 0px;
    line-height: 24px;
    opacity: .7;
  }
}
